body {
	height: 100vh;
	overflow: hidden;
}

ol {
	margin: 0;
}

#enable {
	display: none;
}
#disable {
	display: none;
	text-align: center;
	color: #ff220c;
}
#overlay {
	height: 100vh;
	background-color: black;
	display: grid;
	place-items: center;
}
#page-content {
	display: none;
	position: relative;
}

#footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	text-align: center;
}

.main-section {
	height: 560px;
	display: grid;
	place-items: center;
}

.instructions-list {
	padding: 50px 0;
	margin-bottom: 0;
}

.submission-field {
	padding: 30px 0;
}

.submission-input {
	width: 400px;
	background-color: transparent;
	color: white;
	padding: 5px;
	margin-right: 10px;
	border: 1px solid white;
}

#submission-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pin-input {
	width: 50px;
}

.form-field {
	display: grid;
	grid-template-columns: 100px auto;
	margin-bottom: 30px;
}

.input-field {
	background-color: transparent;
	color: white;
	width: 100%;
	padding: 5px;
	border: 1px solid white;
}

.form-btn {
	background-color: #ff220c;
	border-radius: 1px;
	color: white;
	padding: 0.3rem 2rem;
	margin: 0 auto;
}

.form-btn:disabled {
	cursor: not-allowed;
	color: antiquewhite;
}

.login-farm {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-heading {
	text-transform: capitalize;
	margin-bottom: 40px;
	text-align: center;
}

.feedback-content {
	width: 85%;
	margin: 0 auto;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.2s;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.story {
	height: 92vh;
}

.image-container {
	height: 92vh;
}

.story-img {
	height: 100%;
	width: 100%;
	/* height: 100%; */
}

#next-btn {
	position: fixed;
	right: 100px;
	top: 110%;
	padding: 10px 40px;
	font-size: 1.2rem;
	font-weight: bold;
	background-image: url("../images/wood.png");
	background-position: center;
	z-index: 100;
	transition: 0.3s;
	cursor: pointer;
}

.err {
	margin: 30px 0;
	text-align: center;
	color: #ff220c;
}

#feedbacks {
	margin-top: 50px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

@media (max-width: 768px) {
	body {
		height: auto;
		overflow: auto;
	}

	#footer {
		position: static;
		width: 100%;
	}

	.submission-field {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.submission-input {
		width: 300px;
		margin-bottom: 30px;
	}
}
